.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.classpath
target/classes/com/example/fn/UploadDiscountCampaigns.class
target/classes/com/example/fn/UploadDiscountCampaigns$1.class
target/classes/com/example/fn/UploadDiscountCampaigns$Campaign.class
target/classes/com/example/fn/UploadDiscountCampaigns.class
target/classes/com/example/fn/UploadDiscountCampaigns.class
.vscode/settings.json
togithub*